<!DOCTYPE html>
<html lang="zh-TW">
  <head>
      <% include ClientApp/ejs/index_2/public/headerTag.ejs %>
  </head>
  <body>
    <%- include ClientApp/ejs/index_2/public/style.ejs %> <%if
    (htmlWebpackPlugin.options.outputFile.isProd) {%> <% for (var css in
    htmlWebpackPlugin.files.css) { %>
    <link
      href="wwwroot/webpackTest<%= htmlWebpackPlugin.files.css[css] %>"
      rel="stylesheet"
    />
    <% } %> <% } %>

    <!-- mainContent -->

    <section class="hero">
      <video
        id="bgcVideo"
        role="presentation"
        preload="auto"
        playsinline=""
        crossorigin="anonymous"
        muted=""
        class="video"
        autoplay
        loop
      >
      <source src="https://video.wixstatic.com/video/11062b_79271b7012564ed497d2774a895ab7fd/1080p/mp4/file.mp4" type="video/mp4">
    </video>

      <div class="container text-center">
        <div class="row">
          <div class="col-md-12">
            <a class="hero-brand" href="index.html" title="Home"
              ><img alt="Bell Logo" src="wwwroot/vendor2/bell/img/logo.png"
            /></a>
          </div>
        </div>

        <div class="col-md-12">
          <!-- <h1>地政士</h1> -->
          <p class="tagline">珍惜所託．值得信賴</p>
          <a class="btn btn-full text-center ls-13 fz-20 heroBtn" href="contactUs.html">取得聯繫</a>
        </div>
      </div>
    </section>
    <!-- /Hero -->

    <%- include ClientApp/ejs/index_2/public/header.ejs %>

    <!-- ... -->
    <section class="hero2 pb-0 bgcWhite">
      <div class="">
        <div class="media mx-25p py-30x">
          <img
            class="mr-3"
            src="https://picsum.photos/130/150?image=1073"
            alt="Generic placeholder image"
          />
          <div class="media-body text-left">
            <h5 class="mt-0 fz-22 text-center text-md-left">營業項目</h5>
            <p class="mb-4">
              事務所介紹、提供多項專業地政士服務，代書業務、土地開發、工商業務、資產管理
            </p>
            <p class="text-right">
              <a class="btn btn-full" href="introduction.html">立即前往</a>
            </p>
          </div>
        </div>
      </div>
      <div class="bgc2">
        <div class="media mx-25p py-30x d-flex flex-row-reverse">
          <img
            class="mr-3"
            src="https://picsum.photos/130/150?image=1059"
            alt="Generic placeholder image"
          />
          <div class="media-body text-left">
            <h5 class="mt-0 fz-22 text-center text-md-left">專業團隊</h5>
            <p class="mb-4">
              累積多年實務經驗，因應各項業務需求，提供客戶專業、全方位的專業服務
            </p>
            <p class="text-left">
              <a class="btn btn-full" href="professionTeam.html">立即前往</a>
            </p>
          </div>
        </div>
      </div>
      <div class="">
        <div class="media mx-25p py-30x">
          <img
            class="mr-3"
            src="https://picsum.photos/130/150?image=1073"
            alt="Generic placeholder image"
          />
          <div class="media-body text-left">
            <h5 class="mt-0 fz-22 text-center text-md-left">專欄介紹</h5>
            <p class="mb-4">
              提供法律專欄相關知識
            </p>
            <p class="text-right">
              <a class="btn btn-full" href="columnIntroduction.html"
                >立即前往</a
              >
            </p>
          </div>
        </div>
      </div>
      <div class="bgc2">
        <div class="media mx-25p py-30x d-flex flex-row-reverse">
          <img
            class="mr-3"
            src="https://picsum.photos/130/150?image=1010"
            alt="Generic placeholder image"
          />
          <div class="media-body text-left">
            <h5 class="mt-0 fz-22 text-center text-md-left">經手案例</h5>
            <p class="mb-4">
              將實際經手案例經驗與您分享
            </p>
            <p class="text-left">
              <a class="btn btn-full" href="experienceCase.html">立即前往</a>
            </p>
          </div>
        </div>
      </div>
    </section>

    <!-- Call to Action -->

    <section class="cta">
      <div class="container">
        <div class="row px-10p">
          <div class="col-lg-9 col-sm-12 text-lg-left text-center">
            <h2>聯絡我們</h2>
            <p class="fz-17">提供最專業的服務給您</p>
          </div>

          <div class="col-lg-3 col-sm-12 text-lg-right text-center">
            <a class="btn btn-ghost" href="contactUs.html">聯繫資訊</a>
          </div>
        </div>
      </div>
    </section>
    <!-- /Call to Action -->

    <!-- Parallax -->

    <div
      class="block bg-primary block-pd-lg block-bg-overlay text-center p-0 height500"
      data-bg-img="wwwroot/vendor2/bell/img/parallax-bg.jpg"
      data-settings="{&quot;stellar-background-ratio&quot;: 0.6}"
      data-toggle="parallax-bg"
    >
      <div class="3 d-flex justify-content-center align-items-center h-100 flex-column">
        <h2 class="fz-60">專業負責的態度</h2>
        <p class="fz-25">秉持熱忱、專業之理念，發揮「地政士」對不動產事件之專業素養。</p>
      </div>
      <!--
        <img
          alt="Bell - A perfect theme"
          class="gadgets-img hidden-md-down"
          src="wwwroot/vendor2/bell/img/gadgets.png"
        />
      -->
    </div>
    <!-- /Parallax -->

    <!-- @component: footer -->

    <%- include ClientApp/ejs/index_2/public/footer.ejs %> <%- include
    ClientApp/ejs/index_2/public/script.ejs %>
    <!-- mainContent -->

    <script src="<%= htmlWebpackPlugin.options.outputFile.vendor %>"></script>

    <%if (htmlWebpackPlugin.options.outputFile.isProd) {%> <% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
    <script src="wwwroot/webpackTest<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
    <% } %> <%} else {%> <% for (var chunk in htmlWebpackPlugin.files.chunks) {
    %>
    <script src="http://localhost:<%= htmlWebpackPlugin.options.outputFile.port %><%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
    <% } %> <% } %>

    <!-- <script>
       $(document).ready(function() {
        var videoDom = document.getElementsByClassName('video')[0]
        console.log('videoDom.offsetTop:' ,videoDom.offsetTop);
        // videoDom.style.marginTop  = 0
        // videoDom.style.marginLeft = 0
        // $(videoDom).offset({ top: 0, left: 0 });
      })
    </script> -->

    <!-- 讓背景永遠置中 -->
    <script>
      $(function () {
  
          resize_tab();
      });
  
      $(window).resize(function () {
          resize_tab();
      }).resize();
  
      function resize_tab() {
  
          var viewportWidth = $(window).innerWidth();
          var viewportHeight = $(window).innerHeight();
  
          var width = $('#bgcVideo').width();
          var height = $('#bgcVideo').height();
  
  
          if ((viewportWidth / viewportHeight) > (width / height)) {
  
              $('#bgcVideo').css({
                  'width': '100%',
                  'height': 'auto',
                  'margin-left': 0 - width / 2,
                  'margin-top': 0 - height / 2
              });
  
  
          } else {
              $('#bgcVideo').css({
                  'width': 'auto',
                  'height': '113%',
                  'margin-left': 0 - width / 2,
                  'margin-top': 0 - height / 2
              });
          }
      }
  </script>
  </body>
</html>
