<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <meta charset="UTF-8" />
    <title>Document</title>
  </head>
  <body>


    <%- include ClientApp/ejs/index_2/public/style.ejs %> <%if
    (htmlWebpackPlugin.options.outputFile.isProd) {%> <% for (var css in
    htmlWebpackPlugin.files.css) { %>
    <link
      href="wwwroot/webpackTest<%= htmlWebpackPlugin.files.css[css] %>"
      rel="stylesheet"
    />
    <% } %> <% } %>

    <!-- mainContent -->

    <section class="hero">
      <video
        role="presentation"
        preload="auto"
        playsinline=""
        crossorigin="anonymous"
        muted=""
        class=""
        autoplay
        loop
        src="https://video.wixstatic.com/video/11062b_79271b7012564ed497d2774a895ab7fd/1080p/mp4/file.mp4"
      ></video>

      <div class="container text-center">
        <div class="row">
          <div class="col-md-12">
            <a class="hero-brand" href="index.html" title="Home"
              ><img alt="Bell Logo" src="wwwroot/vendor2/bell/img/logo.png"
            /></a>
          </div>
        </div>

        <div class="col-md-12">
          <h1>A theme with personality</h1>

          <p class="tagline">
            This is a powerful theme with some great features that you can use
            in your future projects.
          </p>
          <a class="btn btn-full" href="#about">Get Started Now</a>
        </div>
      </div>
    </section>
    <!-- /Hero -->

    <%- include ClientApp/ejs/index_2/public/header.ejs %>

    <!-- ... -->
    <section class="hero2">
      <div class="">
        <div class="media mx-25p py-30x">
          <img
            class="mr-3"
            src="http://fakeimg.pl/130x150/"
            alt="Generic placeholder image"
          />
          <div class="media-body text-left">
            <h5 class="mt-0 fz-22">營業項目</h5>
            <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
            <p class="text-right">
                <a class="btn btn-full" href="/introduction.html">立即前往</a>
            </p>
          </div>
        </div>
      </div>
      <div class="bgc2">
        <div class="media mx-25p py-30x d-flex flex-row-reverse">
          <img
            class="mr-3"
            src="http://fakeimg.pl/130x150/"
            alt="Generic placeholder image"
          />
          <div class="media-body text-left">
            <h5 class="mt-0 fz-22">專業團隊</h5>
            <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
            <p class="text-left">
                <a class="btn btn-full" href="/professionTeam.html">立即前往</a>
            </p>
          </div>
        </div>
      </div>
      <div class="">
        <div class="media mx-25p py-30x">
          <img
            class="mr-3"
            src="http://fakeimg.pl/130x150/"
            alt="Generic placeholder image"
          />
          <div class="media-body text-left">
            <h5 class="mt-0 fz-22">專欄介紹</h5>
            <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
            <p class="text-right">
                <a class="btn btn-full" href="/columnIntroduction.html">立即前往</a>
            </p>
          </div>
        </div>
      </div>
      <div class="bgc2">
        <div class="media mx-25p py-30x d-flex flex-row-reverse">
          <img
            class="mr-3"
            src="http://fakeimg.pl/130x150/"
            alt="Generic placeholder image"
          />
          <div class="media-body text-left">
            <h5 class="mt-0 fz-22">經手案例</h5>
            <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
            <p class="text-left">
                <a class="btn btn-full" href="/experienceCase.html">立即前往</a>
            </p>
          </div>
        </div>
      </div>
    </section>

    <!-- About -->

    <section class="about" id="about">
      <div class="container text-center">
        <h2>About Bell Theme</h2>

        <p>
          Voluptua scripserit per ad, laudem viderer sit ex. Ex alia corrumpit
          voluptatibus usu, sed unum convenire id. Ut cum nisl moderatius, per
          nihil dicant commodo an. Eum tacimates erroribus ad. Atqui feugiat
          euripidis ea pri, sed veniam tacimates ex. Menandri temporibus an duo.
        </p>

        <div class="row stats-row">
          <div class="stats-col text-center col-md-3 col-sm-6">
            <div class="circle">
              <span class="stats-no" data-toggle="counter-up">232</span>
              Satisfied Customers
            </div>
          </div>

          <div class="stats-col text-center col-md-3 col-sm-6">
            <div class="circle">
              <span class="stats-no" data-toggle="counter-up">79</span> Released
              Projects
            </div>
          </div>

          <div class="stats-col text-center col-md-3 col-sm-6">
            <div class="circle">
              <span class="stats-no" data-toggle="counter-up">1,463</span> Hours
              Of Support
            </div>
          </div>

          <div class="stats-col text-center col-md-3 col-sm-6">
            <div class="circle">
              <span class="stats-no" data-toggle="counter-up">15</span> Hard
              Workers
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- /About -->
    <!-- Parallax -->

    <div
      class="block bg-primary block-pd-lg block-bg-overlay text-center"
      data-bg-img="wwwroot/vendor2/bell/img/parallax-bg.jpg"
      data-settings="{&quot;stellar-background-ratio&quot;: 0.6}"
      data-toggle="parallax-bg"
    >
      <h2>Welcome to a perfect theme</h2>

      <p>
        This is the most powerful theme with thousands of options that you have
        never seen before.
      </p>
      <img
        alt="Bell - A perfect theme"
        class="gadgets-img hidden-md-down"
        src="wwwroot/vendor2/bell/img/gadgets.png"
      />
    </div>
    <!-- /Parallax -->
    <!-- Features -->

    <section class="features" id="features">
      <div class="container">
        <h2 class="text-center">Features</h2>

        <div class="row">
          <div class="feature-col col-lg-4 col-xs-12">
            <div class="card card-block text-center">
              <div>
                <div class="feature-icon">
                  <span class="fa fa-rocket"></span>
                </div>
              </div>

              <div>
                <h3>Custom Design</h3>

                <p>
                  Eque feugiat contentiones ei has. Id summo mundi explicari
                  his, nec in maiorum scriptorem.
                </p>
              </div>
            </div>
          </div>

          <div class="feature-col col-lg-4 col-xs-12">
            <div class="card card-block text-center">
              <div>
                <div class="feature-icon">
                  <span class="fa fa-envelope"></span>
                </div>
              </div>

              <div>
                <h3>Responsive Layout</h3>

                <p>
                  Eque feugiat contentiones ei has. Id summo mundi explicari
                  his, nec in maiorum scriptorem.
                </p>
              </div>
            </div>
          </div>

          <div class="feature-col col-lg-4 col-xs-12">
            <div class="card card-block text-center">
              <div>
                <div class="feature-icon"><span class="fa fa-bell"></span></div>
              </div>

              <div>
                <h3>Innovative Ideas</h3>

                <p>
                  Eque feugiat contentiones ei has. Id summo mundi explicari
                  his, nec in maiorum scriptorem.
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="feature-col col-lg-4 col-xs-12">
            <div class="card card-block text-center">
              <div>
                <div class="feature-icon">
                  <span class="fa fa-database"></span>
                </div>
              </div>

              <div>
                <h3>Good Documentation</h3>

                <p>
                  Eque feugiat contentiones ei has. Id summo mundi explicari
                  his, nec in maiorum scriptorem.
                </p>
              </div>
            </div>
          </div>

          <div class="feature-col col-lg-4 col-xs-12">
            <div class="card card-block text-center">
              <div>
                <div class="feature-icon">
                  <span class="fa fa-cutlery"></span>
                </div>
              </div>

              <div>
                <h3>Excellent Features</h3>

                <p>
                  Eque feugiat contentiones ei has. Id summo mundi explicari
                  his, nec in maiorum scriptorem.
                </p>
              </div>
            </div>
          </div>

          <div class="feature-col col-lg-4 col-xs-12">
            <div class="card card-block text-center">
              <div>
                <div class="feature-icon">
                  <span class="fa fa-dashboard"></span>
                </div>
              </div>

              <div>
                <h3>Retina Ready</h3>

                <p>
                  Eque feugiat contentiones ei has. Id summo mundi explicari
                  his, nec in maiorum scriptorem.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- /Features -->
    <!-- Call to Action -->

    <section class="cta">
      <div class="container">
        <div class="row px-10p">
          <div class="col-lg-9 col-sm-12 text-lg-left text-center">
            <h2>聯絡我們</h2>
            <p>
              提供最專業的服務給您
            </p>
          </div>

          <div class="col-lg-3 col-sm-12 text-lg-right text-center">
            <a class="btn btn-ghost" href="/contactUs.html">聯繫資訊</a>
          </div>
        </div>
      </div>
    </section>
    <!-- /Call to Action -->
    <!-- Portfolio -->

    <section class="portfolio" id="portfolio">
      <div class="container text-center">
        <h2>Portfolio</h2>

        <p>
          Voluptua scripserit per ad, laudem viderer sit ex. Ex alia corrumpit
          voluptatibus usu, sed unum convenire id. Ut cum nisl moderatius, Per
          nihil dicant commodo an.
        </p>
      </div>

      <div class="portfolio-grid">
        <div class="row">
          <div class="col-lg-3 col-sm-6 col-xs-12">
            <div class="card card-block">
              <a href="#"
                ><img alt="" src="wwwroot/vendor2/bell/img/porf-1.jpg" />
                <div class="portfolio-over">
                  <div>
                    <h3 class="card-title">The Dude Rockin'</h3>

                    <p class="card-text">
                      Lorem ipsum dolor sit amet, eu sed suas eruditi
                      honestatis.
                    </p>
                  </div>
                </div></a
              >
            </div>
          </div>

          <div class="col-lg-3 col-sm-6 col-xs-12">
            <div class="card card-block">
              <a href="#"
                ><img alt="" src="wwwroot/vendor2/bell/img/porf-2.jpg" />
                <div class="portfolio-over">
                  <div>
                    <h3 class="card-title">The Dude Rockin'</h3>

                    <p class="card-text">
                      Lorem ipsum dolor sit amet, eu sed suas eruditi
                      honestatis.
                    </p>
                  </div>
                </div></a
              >
            </div>
          </div>

          <div class="col-lg-3 col-sm-6 col-xs-12">
            <div class="card card-block">
              <a href="#"
                ><img alt="" src="wwwroot/vendor2/bell/img/porf-3.jpg" />
                <div class="portfolio-over">
                  <div>
                    <h3 class="card-title">The Dude Rockin'</h3>

                    <p class="card-text">
                      Lorem ipsum dolor sit amet, eu sed suas eruditi
                      honestatis.
                    </p>
                  </div>
                </div></a
              >
            </div>
          </div>

          <div class="col-lg-3 col-sm-6 col-xs-12">
            <div class="card card-block">
              <a href="#"
                ><img alt="" src="wwwroot/vendor2/bell/img/porf-4.jpg" />
                <div class="portfolio-over">
                  <div>
                    <h3 class="card-title">The Dude Rockin'</h3>

                    <p class="card-text">
                      Lorem ipsum dolor sit amet, eu sed suas eruditi
                      honestatis.
                    </p>
                  </div>
                </div></a
              >
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-3 col-sm-6 col-xs-12">
            <div class="card card-block">
              <a href="#"
                ><img alt="" src="wwwroot/vendor2/bell/img/porf-5.jpg" />
                <div class="portfolio-over">
                  <div>
                    <h3 class="card-title">The Dude Rockin'</h3>

                    <p class="card-text">
                      Lorem ipsum dolor sit amet, eu sed suas eruditi
                      honestatis.
                    </p>
                  </div>
                </div></a
              >
            </div>
          </div>

          <div class="col-lg-3 col-sm-6 col-xs-12">
            <div class="card card-block">
              <a href="#"
                ><img alt="" src="wwwroot/vendor2/bell/img/porf-6.jpg" />
                <div class="portfolio-over">
                  <div>
                    <h3 class="card-title">The Dude Rockin'</h3>

                    <p class="card-text">
                      Lorem ipsum dolor sit amet, eu sed suas eruditi
                      honestatis.
                    </p>
                  </div>
                </div></a
              >
            </div>
          </div>

          <div class="col-lg-3 col-sm-6 col-xs-12">
            <div class="card card-block">
              <a href="#"
                ><img alt="" src="wwwroot/vendor2/bell/img/porf-7.jpg" />
                <div class="portfolio-over">
                  <div>
                    <h3 class="card-title">The Dude Rockin'</h3>

                    <p class="card-text">
                      Lorem ipsum dolor sit amet, eu sed suas eruditi
                      honestatis.
                    </p>
                  </div>
                </div></a
              >
            </div>
          </div>

          <div class="col-lg-3 col-sm-6 col-xs-12">
            <div class="card card-block">
              <a href="#"
                ><img alt="" src="wwwroot/vendor2/bell/img/porf-8.jpg" />
                <div class="portfolio-over">
                  <div>
                    <h3 class="card-title">The Dude Rockin'</h3>

                    <p class="card-text">
                      Lorem ipsum dolor sit amet, eu sed suas eruditi
                      honestatis.
                    </p>
                  </div>
                </div></a
              >
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- /Portfolio -->
    <!-- Team -->

    <section class="team" id="team">
      <div class="container">
        <h2 class="text-center">Meet our team</h2>

        <div class="row">
          <div class="col-sm-3 col-xs-6">
            <div class="card card-block">
              <a href="#"
                ><img
                  alt=""
                  class="team-img"
                  src="wwwroot/vendor2/bell/img/team-1.jpg"
                />
                <div class="card-title-wrap">
                  <span class="card-title">Sergio Fez</span>
                  <span class="card-text">Art Director</span>
                </div>

                <div class="team-over">
                  <h4 class="hidden-md-down">Connect with me</h4>

                  <nav class="social-nav">
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                    <a href="#"><i class="fa fa-envelope"></i></a>
                  </nav>

                  <p>
                    Lorem ipsum dolor sit amet, eu sed suas eruditi honestatis.
                  </p>
                </div>
              </a>
            </div>
          </div>

          <div class="col-sm-3 col-xs-6">
            <div class="card card-block">
              <a href="#"
                ><img
                  alt=""
                  class="team-img"
                  src="wwwroot/vendor2/bell/img/team-2.jpg"
                />
                <div class="card-title-wrap">
                  <span class="card-title">Sergio Fez</span>
                  <span class="card-text">Art Director</span>
                </div>

                <div class="team-over">
                  <h4 class="hidden-md-down">Connect with me</h4>

                  <nav class="social-nav">
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                    <a href="#"><i class="fa fa-envelope"></i></a>
                  </nav>

                  <p>
                    Lorem ipsum dolor sit amet, eu sed suas eruditi honestatis.
                  </p>
                </div>
              </a>
            </div>
          </div>

          <div class="col-sm-3 col-xs-6">
            <div class="card card-block">
              <a href="#"
                ><img
                  alt=""
                  class="team-img"
                  src="wwwroot/vendor2/bell/img/team-3.jpg"
                />
                <div class="card-title-wrap">
                  <span class="card-title">Sergio Fez</span>
                  <span class="card-text">Art Director</span>
                </div>

                <div class="team-over">
                  <h4 class="hidden-md-down">Connect with me</h4>

                  <nav class="social-nav">
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                    <a href="#"><i class="fa fa-envelope"></i></a>
                  </nav>

                  <p>
                    Lorem ipsum dolor sit amet, eu sed suas eruditi honestatis.
                  </p>
                </div>
              </a>
            </div>
          </div>

          <div class="col-sm-3 col-xs-6">
            <div class="card card-block">
              <a href="#"
                ><img
                  alt=""
                  class="team-img"
                  src="wwwroot/vendor2/bell/img/team-4.jpg"
                />
                <div class="card-title-wrap">
                  <span class="card-title">Sergio Fez</span>
                  <span class="card-text">Art Director</span>
                </div>

                <div class="team-over">
                  <h4 class="hidden-md-down">Connect with me</h4>

                  <nav class="social-nav">
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                    <a href="#"><i class="fa fa-envelope"></i></a>
                  </nav>

                  <p>
                    Lorem ipsum dolor sit amet, eu sed suas eruditi honestatis.
                  </p>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- /Team -->
    <!-- @component: footer -->

    <%- include ClientApp/ejs/index_2/public/footer.ejs %> <%- include
    ClientApp/ejs/index_2/public/script.ejs %>
    <!-- mainContent -->

    <script src="<%= htmlWebpackPlugin.options.outputFile.vendor %>"></script>

    <%if (htmlWebpackPlugin.options.outputFile.isProd) {%> <% for (var chunk in
    htmlWebpackPlugin.files.chunks) { %>
    <script src="wwwroot/webpackTest<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
    <% } %> <%} else {%> <% for (var chunk in htmlWebpackPlugin.files.chunks) {
    %>
    <script src="http://localhost:<%= htmlWebpackPlugin.options.outputFile.port %><%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
    <% } %> <% } %>
  </body>
</html>
